

@font-face{
    font-family: "SantEliaRough";
    src: url("../assets/fonts/SantEliaRoughAltBoldThrDEMO.otf")
}


//acho que é do rodape, bem clarinho//
@font-face{
    font-family: "SantEliaLine";
    src: url("../assets/fonts/SantEliaRoughLineThr.otf")
}


//dos h3( azuis ) 
@font-face{
    font-family: "SantEliaBold";
    src: url("../assets/fonts/SantEliaScriptBoldDEMO.otf")
}

//bem clarinha//
@font-face{
    font-family: "SantEliaRoughLine";
    src: url("../assets/fonts/SantEliaRoughLine.otf")
}

@font-face{
    font-family: "SantEliaTwo";
    src: url("../assets/fonts/SantEliaRoughLineTwo.otf")
}

.container__principal{
    width: 60%;
}
