

@font-face{
    font-family: "SantEliaRough";
    src: url("../assets/fonts/SantEliaRoughAltBoldThrDEMO.otf")
}



@font-face{
    font-family: "SantEliaLine";
    src: url("../assets/fonts/SantEliaRoughLineThr.otf")
}


@font-face{
    font-family: "SantEliaBold";
    src: url("../assets/fonts/SantEliaScriptBoldDEMO.otf")
}


@font-face{
    font-family: "SantEliaRoughLine";
    src: url("../assets/fonts/SantEliaRoughLine.otf")
}

@font-face{
    font-family: "SantEliaTwo";
    src: url("../assets/fonts/SantEliaRoughLineTwo.otf")
}
