@font-face{
    font-family: "SantElia";
    src: url("...assets/SantEliaRoughLine.otf")
}

.eventos{
    width: 20 px;
    height: 30px;
    display: flex;
}

.redes-sociais{
    width: 33px;
    height: 40px;
}

.h3{
    width: 30px;
    height: 30px;
}

.img.imagem.eventos{
    width: auto;
    height: auto;
}