    .footer1 {
        background-color: #ffefef;
        align-items: center;
        padding: 10px;
    }
    
    .contato a {
        padding: 10px;
    }
    
    .contato p {
        margin: auto;
        font-family: "Roboto";
    }