    .footer1 {
        background-color: #ffefef;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70px;
    }
    
    .contato a {
        padding: 10px;
    }
    
    .contato p {
        margin: auto;
        font-family: "Roboto";
    }

    .blue {
        color:#68afe3 ;
    }

    .pink{
        color: #f8b2cd;
    }

    @media (max-width: 320px) { 
    
        .footer1 {
            height: 140px;
            flex-direction: column;
        }
     
    
    }