nav{
    height: 15vh;
    width: 100%;
    background-color: white;
}

nav a{
    color: #000000;
   
}

a.nav-link{
    background-color: white;
}

nav a:hover{
    color: #f8b2cd;
}

.nav__menus a{
    margin: 12px;
}
.nav__menus{
    width: 40%;
}

.nav__menus > a, .nav__redes-sociais > a{
    text-decoration: none;
}

.nav__redes-sociais{
    width: 15%;
}

.nav__redes-sociais > a{
    margin: 5px;
}

.foto-rosa{
    height: 9vh;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8b2cd;
    background-color: white;
    text-align: center;
    width: 207px;
}

@media(min-width: 1024px){
    .nav__imgs{
        display: flex;
        margin-left: -30px;
    }
    .foto-logo{
        height: 4vw;
    }
    .foto-rosa{
        height: 7vh;
    }
    #navbarNav{
        margin: -10px;
    }
    .navbar{
        width: 100%;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #f8b2cd;
        background-color: white;
        text-align: center;
        width: 133px;
        margin-left: -7px;
    }
}