.parceiros {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.parceiros_logos {
    width: 100px;
    margin: 25px;
}

.parceiros__conteudo {
    color: #f8b2cd;
    padding: 10px;
}

.parceiros h3 {
    text-align: center;
    padding: 6px;
    color: #68afe3;
    font-family: "santeliabold";
    padding: 2%;
}

@media (max-width: 768px) {
    .parceiros_logos {
        width: 100px;
        margin: 8px;
    }
    .parceiros h3 {
        font-size: 30px;
    }
    .parceiros__conteudo {
        font-size: 20px;
        font-style: oblique;
    }
}

@media (max-width: 320px) {
    .parceiros_logos {
        width: 60px;
        margin: 10px;
        align-content: space-between;
    }
    .parceiros h3 {
        font-size: 20px;
    }
    .parceiros__conteudo {
        font-size: 15px;
    }
}