.parceiros {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.parceiros_logos {
    width: 100px;
}

.parceiros__conteudo {
    color: #f8b2cd; 
}

.parceiros h3 {
    text-align: center;
    padding: 6px;
    color: #68afe3;
    font-family: "santeliabold";
}