.ajuda{
    background-color: #68afe3;
    width: 100%;
    height: 35vh;
}

.ajuda__texto{
    width: 40%;
}
.ajuda__texto h3{
    color: white;
    text-transform: uppercase;
    font-size: 12pt;
}

.ajuda__texto h2{
    color: #f8b2cd;
    font-family: "SantEliaBold";
}

.ajuda__contato{
    width: 80%;
}

.ajuda__contato p{
    margin: 10px;
}

.ajuda__contato a{
    text-decoration: none;
    color: #000000;
}

.ajuda__contato a:hover{
    color: #f8b2cd;
}