.carrossel {
    align-items: center;
    padding: 2%;
}

.carrossel h3 {
    color: #68afe3;
    font-family: "santeliabold";
    padding: 0;
}

.jennifer {
    width: 100vh;
    height: 300px;
}

.carousel-inner {
   width: auto;
   
}

@media (max-width: 320px) {
    .jennifer {
        width: auto;
        height: auto;
    }
    
}

